<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>
<h1>Вся інформація по замовленню</h1>
<table class="table_price">
    <tr>
        <th>Ім'я клієнта</th>
        <th>Телефон</th>
        <th>Адреса замовлення</th>
        <th>Адреса следования</th>
        <th>Авто</th>
        <th>Бажаний час</th>
        <th>Статус замовлення</th>
    </tr>
    <tr>
        <td>{{order.customer_name}}</td>
        <td>{{order.customer_phone}}</td>
        <td>{{order.address_from}}</td>
        <td>{{order.address_to}}</td>
        <td>{{order.car}}</td>
        <td>{{order.in_what_time}}</td>
        <td><input type="checkbox" {% if order.order_done %}checked="checked"{% endif %}></td>
    </tr>
</table>
</body>
</html>