<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders list</title>
</head>
<body>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
        table {
            margin-bottom: 20px;
        }
    </style>
    <h1>Список замовлень</h1>
    <table class="table_price">
        <tr>
            <th>Ім'я клієнта</th>
            <th>Адреса виклику авто</th>
        </tr>
        <tr>
            <td>Микола</td>
            <td>Дегтярівська 10а</td>
            <td><button>Детальна інформація</button></td>
        </tr>
    </table>
    <div class="pagination">
        <a href="#">«</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">»</a>
    </div>
</body>
</html>