<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>
<h1>Вся інформація по замовленню</h1>
<table class="table_price">
    <tr>
        <th>Ім'я клієнта</th>
        <th>Телефон</th>
        <th>Адреса замовлення</th>
        <th>Адреса следования</th>
        <th>Авто</th>
        <th>Бажаний час</th>
        <th>Статус замовлення</th>
    </tr>
    <tr>
        <td>Микола</td>
        <td>+380111111111</td>
        <td>Дегтярівська 10а</td>
        <td>Хрещатик 10а</td>
        <td>Porshe 718 Cayman</td>
        <td>15/04/2021 19:57</td>
        <td><input type="checkbox"></td>
    </tr>
</table>
</body>
</html>