<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <style>
        body {
            display: flex;
            justify-content: center;
            min-height: 100vh;
        }
        .order {
            width: 500px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        input {
            margin: 10px 0;
            padding: 10px;
        }
    </style>
<body>
    <form action="#" class="order" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" class="sub" value="Відправити">
    </form>
</body>
</html>